@font-face{
	font-family: CaviarDreams;
	src: url('../assets/CaviarDreams.ttf')
}
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    background-color: #020202;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 2px solid #ae1517;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1567360425618-1594206637d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=536&q=80);
    user-select: none;
    font-family: CaviarDreams; 
}
nav{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.678);
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    padding: 8px;
}
.search{
    border: none;
    background: none;
    outline: none;
    color: rgba(255, 255, 255, 0.678);
    font-size: 15px;
    width: 190px;
    font-style: oblique;
}
.search::placeholder{
    color: #ffffffc0;
}
.searchb{
    background: none;
    color: rgba(255, 255, 255, 0.678);
}
.searchi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    padding: 8px;
    display: none;
}
.search2{
    border: none;
    background: none;
    outline: none;
    color: rgba(255, 255, 255, 0.678);
    font-size: 20px;
    width: 100%;
    font-style: oblique;
}
.toggle{
    color: rgba(255, 255, 255, 0.678);;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    display: none;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > p{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.678);
}
.menu-horizontal > li > p:hover{
    background-color: #6a0400;
}
.menu-vertical{
    position: absolute;
    list-style: none;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 2px solid #ae1517;
}
#modif-1{
    width: 250px;
}
#modif-2{
    width: 150px;
}
#modif-3{
    width: 150px;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: #6a0400;
}
.menu-vertical li a{
    display: block;
    color: rgba(255, 255, 255, 0.678);
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
.form-register{
    width: 400px;
    background-color: #07080a;
    padding: 20px 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.678);
    border: 1px solid #6a0400;
    align-self: center;
}
.control{
    width: 100%;
    background-color: #272727;
    outline: none;
    color: rgba(255, 255, 255, 0.678);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: #272727;
    border-top: 2px solid #6a04007e;
    font-style: oblique;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.botons{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07080a;
    cursor: pointer;
}
.arrow{
    border: none;
    background: none;
    color: #ffffff60;
    font-size: 40px;
    cursor: pointer;
    padding: 5px 8px;
    padding-left: 52px;
}
.arrow:hover{
    color: #bb055177;
}
.cancel{
    background: none;
    color: #ffffff60;
    border: none;
    font-size: 36px;
    padding: 5px 10px;
    cursor: pointer;
    border-right: 2px solid #272727;
    padding-right: 48px;
}
.cancel:hover{
    color: #bb055177;
}
footer{
    background-color: #07080a;
    color: rgba(255, 255, 255, 0.678);
    position: fixed;
    width: 100%;
    bottom: 0em;
    height: 40px;
}
#pie{
    text-align: center;
    position: relative;
    top: 9.5px;
}